{% extends 'base.html' %}

{% block content %}

<div class="content">
    <h1>About page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima natus deleniti blanditiis mollitia facere harum eveniet quasi voluptas quo. Iure a sit libero! Odio dolor consectetur voluptatibus unde fugit? Voluptatibus provident quae minima explicabo, ipsum ex quibusdam aliquam recusandae commodi labore, distinctio ad nobis corrupti eaque itaque optio doloremque perferendis saepe. Nam, ut quo consequatur, quis enim beatae totam ipsam explicabo officia, unde nulla vel reiciendis nesciunt deserunt vero velit ex perferendis minima? Veniam quas dolor harum tempora aut ipsa perspiciatis, neque eius perferendis consequuntur ut consectetur dolore. Numquam temporibus possimus facere ex, deleniti doloribus? Placeat eos quos ipsam minus.</p>
</div>



{% endblock %}